::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(205, 205, 205);
}

section {
    max-width: 99vw;
}



#sectionOne {
    background: linear-gradient(black,white);
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        '. izq der .'
        'presentacion presentacion presentacion presentacion';
}

#der{
    grid-area: der;
    z-index: 1;
    /* background: linear-gradient(white, black); */
    /* top: 120px;
    left: 60%; */
    
} 

#der img {
    width: 300px;
    height: 550px;
    background: linear-gradient(white, black 80%);

}


#izq {
    grid-area: izq;
    font-family: 'Figtree', sans-serif;
    font-size: 5rem;
    
}

#izq h1 {
    color: #fff;
}


#izq h2 {
    color: #fff;
}


#izq.mostrartextOne {
    opacity: 0;
    transition: 2s linear;  

}

#imgder{
    grid-area: imgder;
    width: 300px;
    height: 500px;
    top: 120px;
    left: 60%;
    background: #fff;
    
}


 img#imgder.circle {
    position: absolute;
    transition: .5s linear;
    border-radius:50%;
    object-fit: content;
    width: 250px;
    height: 250px;
    transform: translate(75%, 500px);
    background: #fff;
    object-fit: content;
    
}

#presentacion {
    grid-area: presentacion;
    font-family: 'Figtree', sans-serif;
    font-size: 5rem;
    opacity: 0;
    left:-50%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    z-index: 1;
}

#presentacion h1 {
    color : #fff;
}


#presentacion p {
    color : black;
}

 
    /* img#imgder.circle {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            'izq der'
            'presentacion .';
        
    } */
   
#presentacion.mostrartextTwo {
    opacity: 1;
    top: 50%;
    margin-left: 20%;
    transition: 3s ease-in-out;
}

#sectionTwo {
    height: 40vh;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        'cero'
        'cero';
}

#cero {
    grid-area: cero;
    opacity: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 5rem;

}

#uno {
    opacity: 0;
    
}

#skils {
    opacity: 0;
}

#cero.mostrartextThree {
    opacity: 1;
    transition: .5 linear;
}

#sectionTwo.changebackOne {
    opacity: 1;
    transition: 2s ease-in-out;
    /* color: white; */
}

#sectionThree {
    display: grid;
    gap: 8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        '. . . . . .'
        '. javascript node sql scss .'
        '. css typescript react aws .'
        '. html . . . .';
      /* animation: letterA 5s ease;  */
}

#sectionThree img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ja h1{
    color: black;
    
}

 #javascript {
    
    grid-area: javascript;
    font-size: 5rem;
    top: 1px;
    right: 10%; 
    opacity: 0;
 
}

#javascript.efectoJ {
    
    animation: letterA 1s ease;
    opacity: 1;
}

 @keyframes letterA {
    50%{
        transform: matrix(10, 2, 3, 40, 5, 6);
        
    }
    
} 

#css {
    
    grid-area: css;
    font-size: 5rem;
    right: 30%;
    
}

#css.efectoC {
    animation: letterC 3s ease-in-out;
}

@keyframes letterC {
    0% {
        opacity: 0%;
        
    }
    15% {
        opacity: 50%;
    }
    20%{
        right: 10%;
    }
    
} 

#html {
    
    grid-area: html;
    font-size: 5rem;
    right: 30%; 
    
}

#html.efectoh {
    animation: letterD 1s ease-in-out;
}

@keyframes letterD {
    50%{
        opacity: 50%;
        right: 500px;
    }
      
} 

#node{
    grid-area: node;
    
}
    #node.animationNode {
        animation: no 1s linear;
    }

    @keyframes no {
        0% {
            transform: rotate(1.5turn);
        }
    }


#sql {
    grid-area: sql;
}
    #sql.animationSql {
        animation: sq 1s linear;
    }

    @keyframes sq {
        10% {
            transform: rotate(0.5turn);
     
    }   
}

#scss {
    grid-area: scss;
}
     #scss.animationScss {
        animation: sc 1s linear;
    }

    @keyframes sc {
        20% {
            transform: rotate(1.5turn);
     
    }   
    }

#typescript {
    grid-area: typescript;
}
    #typescript.animationTypescript {
    animation: ty 1s linear;
    }

@keyframes ty {
    30% {
        transform: rotate(2.1turn);
 
}   
}

#react {
    grid-area: react;
}
    #react.animationReact {
    animation: re 1s linear;
    }

@keyframes re {
    40% {
        transform: rotate(3.5turn);
 
}   
}

#aws {
    grid-area: aws;
}  
    #aws.animationAws {
    animation: aw 1s linear;
}

@keyframes aw {
    50% {
        transform: rotate(4.1turn);
 
}   
}


.subsection img{
   animation: cod 4s linear infinite;
}


@keyframes cod {
    50%{
        filter: brightness(1.75);
    }
}

.sin img{
    animation: codi 7s linear infinite;
}

@keyframes codi {
    50%{
        filter: brightness(0);
    }
} 

#sectionFour {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        '. . . .'
        '. about about .'
        '. about about .';
    
}

#about {
    
    text-align: justify;
    grid-area: about;
    font-size: 3rem;
    
    opacity: 0;
    /* box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(196, 3, 249, 0.3);
    z-index: 1; */
   
}

#about.aniabout {
    opacity: 1;
    animation: ab 2s linear;
}
/*nuevo efecto*/

@keyframes ab {
    0%{
        opacity: 0;
    }
    50% {
        
        opacity: 50%;
    }
}


#about h1 {
        color: #fff;
        -webkit-text-stroke-color: rgb(255, 0, 0);
        -webkit-text-stroke-width: 1px;
       
}

#about p {
    color: rgb(205, 205, 205);
   /* color: purple; */
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    

}
/* #lin img {
    position: absolute;
    top: 50px;
    left: 60%;
    width: 150px;
    height: 150px;
}

#github img {
    position: absolute;
    top: 50px;
    left: 60%;
    width: 150px;
    height: 150px;
} */

#javas img{
    width: 50px;
    height: 10px;
    object-fit: cover;
    animation: javass 1s linear ;
    opacity: 0;
}

@keyframes javass {
    0% {
        opacity: 1;
        margin-top: 100%;
        margin-left: 1%;
    }
    50% {
        margin-left: 90%;
        opacity: 0;
    }
 }


#carta p {
    color: #fff;
    
}

.jscenter{
    position: absolute;
    width: 50px;
    height:50px;
    opacity: 0;
    animation: cen 8s linear infinite;
    
}

@keyframes cen {
    0% {
        opacity: 50%;
        top: 10%;
    }
    20% {
        opacity: 1;
        top: 20%;
        transform: rotate3d(1, 9, 0.5, 9.9rad);
    }
    30% {
        opacity: 1;
        top: 50%;
        transform: rotate3d(3, 9, 0.5, 9.9rad);
    }
    40% {
        opacity: 1;
        top: 50%;
        transform: rotate3d(6, 9, 0.5, 9.9rad);
    }
    50% {
        opacity: 0;
        top: 70%;
        transform: rotate3d(9, 9, 0.5, 5.9rad);
    }
    60% {
        opacity: 0;
        top: 70%;
        transform: rotate3d(9, 9, 0.5, 9.9rad);
    }
    
    100% {
        top: 80%;
        opacity: 0;
    } 
}

.jscenterleft {
    position: absolute;
    width: 30px;
    height:30px;
    opacity: 0;
    animation: cenlef 8s linear infinite;
}

@keyframes cenlef {
    0% {
        opacity: 50%;
        top: 40%;
        left: 30%;
    }

    50% {
        opacity: 1;
        top: 70%;
        left: 30%;
        transform: rotate3d(1, 9, 9.5, 1.9rad);
    }
   
    100% {
        opacity: 1;
        top: 80%;
        left: 30%;
        transform: rotate3d(1, 5, 5.5, 0.5rad);
    } 
}

.jscenterright {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    animation: cenrig 6s ease infinite;
}

@keyframes cenrig {
    0% {
        opacity: 50%;
        top: 20%;
        right: 30%;
    }

    50% {
        opacity: 1;
        top: 70%;
        right: 30%;
        transform: rotate3d(1, 9, 0.5, 1.9rad);
    }
   
    100% {
        opacity: 1;
        top: 80%;
        right: 30%;
        transform: rotate3d(1, 9, 5.5, 9.9rad);
    } 
}



.jsleft{
    position: absolute;
    width: 50px;
    height:50px;
    opacity: 0;
    animation: lef 4s linear infinite;
    
}

@keyframes lef {

    0% {
        opacity: 50%;
        top: 10%;
        left: 5%;
    }
    50% {
        opacity: 1;
        top: 70%;
        left: 5%;
        transform: rotate3d(1, 9, 0.5, 5.9rad);
    }
    100% {
        opacity: 1;
        top: 100%;
        left: 5%;
        transform: rotate3d(3, 9, 0.5, 5.9rad);
    }
    
}


.jsright{
    position: absolute;
    width: 50px;
    height:50px;
    opacity: 0;
    animation: rig 5s linear infinite;
    
}

@keyframes rig {

    0% {
        opacity: 50%;
        top: 10%;
        right: 5%;
    }
    50% {
        opacity: 1;
        top: 60%;
        right: 5%;
        transform: rotate3d(1, 9, 0.5, 9.9rad);
    }
    100% {
        opacity: 1;
        top: 100%;
        right: 5%;
        transform: rotate3d(9, 9, 0.5, 9.9rad);
    }
    
}


#imageTwo {
    grid-area: imageTwo;
}

#sectionFive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        '. . . . .'
        '. first second third .'
        '. fourth fiveth sixth .'
        '. . . . .';
    
}

#sectionFive h1{
    
    font-size: 2rem;
    background: #fff;
    margin-top: 50%;
}

#first {
    grid-area: first;
    background-image: url('../image/grid.JPG');
    background-position: center;
    background-size: cover;
    filter: brightness(20%);
    color: rgb(205, 205, 205);
    
}


#first:hover {
    filter: brightness(100%);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgb(252, 63, 63);
    color: rgb(205, 205, 205);
    font-family: 'Ubuntu', sans-serif;
}

#second {
    padding: 10px;
    grid-area: second;
    transition: 1s ease;
    color: rgb(205, 205, 205);
    font-family: 'Ubuntu', sans-serif;
    opacity: 0;
}


#second:hover {
    opacity: 1;
    transition: 1s ease-in-out;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgb(252, 63, 63);
    color: rgb(205, 205, 205);
}

.progress {
    padding: 10px;
    grid-area: second;
    transition: 1s ease;
    color: rgb(205, 205, 205);
    font-family: 'Ubuntu', sans-serif;
    opacity: 0;
}


.progress:hover {
    opacity: 1;
    transition: 1s ease-in-out;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgb(252, 63, 63);
    color: rgb(205, 205, 205);
}

#third {
    grid-area: third;
}

#fourth {
    grid-area: fourth;
    
}

#fiveth {

    grid-area: fiveth;
}

#sixth {
    grid-area: sixth;
}


#sectionSix {
    opacity: 0;
    height: 50vh;
    background-image: url('../image/teclado.jpg');
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        'jop jop jop'
        'jop jop jop';
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

#sectionSix.mostrarSectionSix {
    opacity: 1;
    transition: 2s ease-in-out;
   
}


#joh {
    color: #fff;
    grid-area: joh;
    font-size: 8rem;
    -webkit-text-stroke-color: rgb(252, 63, 63);
    -webkit-text-stroke-width: 3px;
   
}

#jop {
    grid-area: jop;
    font-size: 23px;
    color: #fff;
    
}

#dowload {
    grid-area: dowload;    
    font-size: 1rem;
    background: transparent;
    box-shadow: 1px 1px 1px 1px #fff;
}

input[input=text], input[input=password]{
    border: solid 1px #fff;
    border-radius: 3px;
    outline: none;
    font-size: 1rem;
}

input[type=submit]{
    border: 0;
    outline: 0;
    background-color: #003366;
    
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
}

.barra {
    position: absolute;
    width: 80px;
    height: 22px;
    
}

#threethb {
    position: absolute;
    width: 70px;
    height: 3px;
    opacity: 0;
    animation: barr 15s ease-in-out infinite;

}

#threethb p {
    position: absolute;
    font-family: fantasy;
    font-size: 40px;
    left: 10px;
    top: 1px;

}

@keyframes barr {
    10%{
        background: yellow;
        width: 20px;
        height: 3px;
        opacity: 1;
    }
    50%{
        background: linear-gradient(yellow,rgb(0, 255, 0));
        width: 50px;
        height: 3px;
        opacity: 1;
    }
    70%{
        background: rgb(19, 212, 19);
        width: 70px;
        height: 3px;
        opacity: 1;
    }
}

#typescript:hover {
    transform: rotate(0.1turn);
    
    
}

#react:hover {
    transform: rotate(0.1turn);
}


#aws:hover {
    transform: rotate(0.1turn);
}

#sectionSeven {
    height: 65vh;
    font-size: 3rem;
    font-family: 'Ubuntu',sans-serif;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        '. formulario'
        '. formulario'
        'location location';
}


#formulario {
    grid-area: formulario;
    padding: 30px;
    color: rgb(205, 205, 205);
   
}

#sectionSeven .section {
    padding: 10px;
}

#location {
    grid-area: location;
    margin-top: 10%;
    padding: 40px;
    font-size: 1rem;
}

#location img {
    width: 30px;
    height: 30px;
}

form #botonLogin {
      background: rgb(252, 63, 63);  
}

form input {
    font-size: 3rem;
    color: rgb(252, 63, 63);
}



/* THIS IS MEDIA QUERY RESPONSIVE DESIGN */
/* THIS IS MEDIA QUERY RESPONSIVE DESIGN */
/* THIS IS MEDIA QUERY RESPONSIVE DESIGN */
/* THIS IS MEDIA QUERY RESPONSIVE DESIGN */

@media screen and (max-width: 800px) {
    #sectionOne {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            'izq der'
            'presentacion';
        
    }

    #izq {
        grid-area: izq;
        font-family: 'Figtree', sans-serif;
        font-size: 5rem;
        
        
    }

    #der {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #presentacion {
    
        grid-area: presentacion;
        font-family: 'Figtree', sans-serif;
        font-size: 4rem;
        opacity: 0;
        /* top: 80%; */
        left: 1%;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        z-index: 1;
    }

    #cero {
        grid-area: cero;
        opacity: 0;
        font-family:'Courier New', Courier, monospace;
        font-size: 3rem;
        padding: 10px;
    }

    #sectionTwo {
        height: 30vh;
        background: #fff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            'cero'
            'cero';
    }

    #sectionThree {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            'javascript node sql scss'
            'css typescript react aws'
            'html . . . .';
    }

   
   

    #threethb p {
        position: absolute;
        font-family: fantasy;
        font-size: 1rem;
        left: 10px;
        top: 1px;
    
    }

    #javascript {
    
        grid-area: javascript;
        font-size: 3rem;
        opacity: 0;
     
    }

    #css {
    
        grid-area: css;
        font-size: 3rem;
        
    }

    #html {
    
        grid-area: html;
        font-size: 3rem;
        
    }

    #sectionThree img{
        width: 100px;
        height: auto;
        object-fit: cover;
    }
    


    #sectionFour {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            '. . . .'
            '. about about .'
            '. about about .';
        
    }

    #about {
    
        text-align: justify;
        grid-area: about;
        font-size: 25px;
        opacity: 0;
        
    }

    #sectionFive {
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            '. . . . .'
            '. first second third .'
            '. fourth fiveth sixth .'
            '. . . . .';
        
    }

    #second {
        padding: 10px;
        grid-area: second;
        transition: 1s ease;
        color: rgb(205, 205, 205);
        font-family: 'Ubuntu', sans-serif;
        opacity: 0;
    }
    
    
    #second:hover {
        opacity: 1;
        transition: 1s ease-in-out;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(196, 3, 249, 0.3);
        color: rgb(205, 205, 205);
    }

    #sectionSix {
        height: 50vh;
        background-image: url('../image/teclado.jpg');
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            'jop jop jop'
            'jop jop jop';
        
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        
    }

    #joh {
    
        grid-area: joh;
        font-size: 7rem;
        -webkit-text-stroke-color:  rgb(252, 63, 63);
        -webkit-text-stroke-width: 3px;
       
    }
    
    #jop {
        
        grid-area: jop;
        font-size: 18px;
        color: #fff;
        
    }

    #sectionSeven {
        height: 70vh;
        font-size: 3rem;
        font-family: 'Ubuntu',sans-serif;
        display: grid;
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            '. formulario .'
            '. formulario .'
            'location location .';
    }

    #location {
        grid-area: location;
        margin-top: 30%;
        padding: 20px;
        font-size: 1rem;
    }    

    form {
        margin-top: 20%;
    }

    form input {
        padding: 5px;
        font-size: 2rem;
        color: rgb(252, 63, 63);
        
    }

    form h2 {
        font-size: 3rem;
    }
} 



    /*RESPONSIVE 500 PX */
    /*RESPONSIVE 500 PX */
    /*RESPONSIVE 500 PX */

    @media screen and (max-width: 500px) {
        #sectionOne {
            height: 60vh;
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                'izq'
                'der'
                'presentacion';
            
        }
    
        #der {
            display: grid;
            justify-content: center;
            align-items: center;
        }

        #der img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

       
        #izq {
        grid-area: izq;
        font-family: 'Figtree', sans-serif;
        font-size: 1rem;
    
    
}
    
        #presentacion {
        
            grid-area: presentacion;
            font-family: 'Figtree', sans-serif;
            font-size: 20px;
            opacity: 0;
            /* top: 80%; */
            left: 1%;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;
            z-index: 1;
        }

        img#imgder.circle  {
            transition: 1s ease-in-out;
            border-radius: 10px;
            background: #fff;
            top: 60%;
            left: 1%;
            height: 220px;
            width: 50px;
            object-fit: content;
            opacity: 1;
            
        }
    
        #cero {
            grid-area: cero;
            opacity: 0;
            font-family:'Courier New', Courier, monospace;
            font-size: 1rem;
            padding: 20px;
        }
    
        #sectionTwo {
            height: 10vh;
            background: #fff;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                'cero'
                'cero';
        }

       
        #sectionThree {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                'javascript node sql scss'
                'css typescript react aws'
                'html . . . .';
        }
    
        #node{
            grid-area: node;
            
        }
            #node.animationNode {
                animation: no 1s linear;
            }
        
            @keyframes no {
                0% {
                    margin-left: 100%;
                }
            }
        
        
        #sql {
            grid-area: sql;
        }
            #sql.animationSql {
                animation: sq 1s linear;
            }
        
            @keyframes sq {
                10% {
                    margin-left: 100%;
             
            }   
        }
        
        #scss {
            grid-area: scss;
        }
             #scss.animationScss {
                animation: sc 1s linear;
            }
        
            @keyframes sc {
                20% {
                    margin-left: 100%;
             
            }   
            }
        
        #typescript {
            grid-area: typescript;
        }
            #typescript.animationTypescript {
            animation: ty 1s linear;
            }
        
        @keyframes ty {
            30% {
                margin-left: 100%;
         
        }   
        }
        
        #react {
            grid-area: react;
        }
            #react.animationReact {
            animation: re 1s linear;
            }
        
        @keyframes re {
            40% {
                margin-left: 100%;
         
        }   
        }
        
        #aws {
            grid-area: aws;
        }  
            #aws.animationAws {
            animation: aw 1s linear;
        }
        
        @keyframes aw {
            50% {
                margin-left: 100%;
         
        }   
        }
        
       
       
    
        #threethb p {
            position: absolute;
            font-family: fantasy;
            font-size: 10px;
            left: 10px;
            top: 1px;
        
        }
    
        #javascript {
        
            grid-area: javascript;
            font-size: 1rem;
            opacity: 0;
         
        }

        #javascript.efectoJ {
    
            animation: letterA 3s ease;
            opacity: 1;
        }
        
         @keyframes letterA {
            50%{
                transform: scale(1, 1.5);
                
            }
            
        }
    
        #css {
        
            grid-area: css;
            font-size: 1rem;
            
        }
    
        #html {
        
            grid-area: html;
            font-size: 1rem;
            
        }
    
        #sectionThree img{
            width: 50px;
            height: auto;
            object-fit: cover;
        }
        
    
    
        #sectionFour {
            height: 60vh;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                '. . . .'
                '. about about .'
                '. about about .';
            
        }
    
        #about {
        
            text-align: justify;
            grid-area: about;
            font-size: 1rem;
            opacity: 0;
            
        }
    
        #sectionFive {
            height: 50vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                '.'
                'first' 
                'second';
               
        }

        #sectionFive h1{
    
            font-size: 1rem;
            background: #fff;
            
        }

        #second {
            padding: 10px;
            grid-area: second;
            transition: 1s ease;
            color: rgb(205, 205, 205);
            font-family: 'Ubuntu', sans-serif;
            opacity: 0;
        }
        
        
        #second:hover {
            opacity: 1;
            transition: 1s ease-in-out;
            box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0 0 0 2px rgb(255, 255, 255),
            0.3em 0.3em 1em rgb(252, 63, 63);
            color: rgb(205, 205, 205);
        }

        .progress {
           opacity: 0;
        }

        .progress:hover {
            opacity: 0;
        }
        
        
    
        #sectionSix {
            opacity: 1;
            height: 40vh;
            background-image: url('../image/teclado.jpg');
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                'jop jop jop'
                'jop jop jop'
                '. dowload dowload';
            
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            
        }

        
  
        #joh {
            color: #fff;
            grid-area: joh;
            font-size: 1rem;
            -webkit-text-stroke-color: rgb(252, 63, 63);
            -webkit-text-stroke-width: 3px;
            margin-left: -50%;
            margin-top: 5%;
        }
        
        #jop {
            
            grid-area: jop;
            font-size: 10px;
            color: #fff;
            text-align: justify;
            
            
        }

        #dowload {
            grid-area: dowload;
            font-size: 10px;
            background: transparent;
            box-shadow: 1px 1px 1px 1px rgb(252, 63, 63);
            /* margin-left: -50%;
            margin-top: -50%; */
        }
    
        #sectionSeven {
            height: 80vh;
            font-size: 3rem;
            font-family: 'Ubuntu',sans-serif;
            display: grid;
            
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                'formulario .'
                'formulario .'
                'location location';
        }


    
        #location {
            grid-area: location;
            margin-top: 50%;
            padding: 20px;
            font-size: 1rem;
        }

        form {
            margin-top: 30%;
        }

        form input {
            padding: 10px;
            font-size: 1rem;
            color: rgb(252, 63, 63);
        }

        form h2 {
            font-size: 3rem;
        }
        
        .section a {
            font-size: 25px;
        }
    }